.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


html, body {
  margin: 0;
  height: 100%;
  background: url(wallpaper.png) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


.home_contents {
  text-align: left;
  position: relative;
  top: 150px;
  margin: -20px 200px 0px 200px
  
}


.background, html {
  background-color: #eee;
}

.background_fill {
  position: relative;
  margin: 0;
  height: 100%;
}

.home_login {
  position: relative;
}

.home_signup {
  position: relative;
  left: 100px;
  top: -38px
}

.home_groceries {
  position: relative;
  text-align: right;
  margin-left: 200px;
  top: -76px
}


.image_thumbnail {
  width: 300px;
  height: 300px;
  margin: 30px auto 10px auto;
}

.image_detail {
  width: auto;
  height: 300px;
  margin: 0 auto;
  display: block;
}

.navbar-nav > li{
  padding-left:10px;
  padding-right:30px;
}

.navbar_main {
  position: fixed; /* Set the navbar to fixed position */
  z-index: 1;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

div.row {
  justify-content: center; 
}

.article-container {
  width: 420px;
  height: 350px;
  overflow: hidden;
  position: relative;
}

.article-img-holder {
  width: 100%;
  height: 100%;
  /* background: url(https://awik.io/demo/background-image-zoom/traffic2.jpg); */
  /* background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
  transition: all 1s;
}

.article-img-holder:hover {
  transform: scale(1.2);
}

.user_buttons {
  text-align: right;
  padding: 10px;
}


.form_width {
  display: inline-block;
  width: 35%;
}

.form_label {
  text-align: left;
  font-weight: bold;
}

.justify_left {
  text-align: left;
}


.gradient-custom-2 {
/* fallback for old browsers */
background: #fccb90;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, #16A085, #F4D03F);
/* background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593); */

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, #16A085, #F4D03F);
/* background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593); */
}

@media (min-width: 768px) {
.gradient-form {
height: 100vh !important;
}
}
@media (min-width: 769px) {
.gradient-custom-2 {
border-top-left-radius: .3rem;
border-bottom-left-radius: .3rem;
}
}